body{
    justify-items: center;
    font-family: 'Jesaya Free', sans-serif;
    background: linear-gradient(rgb(3, 3, 41), rgb(35, 2, 57));
    background-attachment: fixed;                     
}

img{
    width: auto;
    height: 200px;
    border: 2px solid #fff; 
    border-radius: 15px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
      }

      img:hover {
    transform: scale(1.1); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); 
      }

.a{
    color: azure;
}
